@model IEnumerable<Event>

@foreach (Event item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-event mb-60">
            <div class="event-img">
                <a href="/Event/Detail/@item.Id">
                    <img src="~/Assets/img/event/@item.Image" alt="event">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
                <div class="event-date">
                    <h3>@item.Day <span>@item.Month</span></h3>
                </div>
            </div>
            <div class="event-content text-left">
                <h4><a href="/Event/Detail/@item.Id">@item.Name</a></h4>
                <ul>
                    <li><span>time:</span> @item.EventStart - @item.EventFinish</li>
                    <li><span>venue</span> @item.EventPlace</li>
                </ul>
                <div class="event-content-right">
                    <a class="default-btn" href="/Event/Detail/@item.Id">join now</a>
                </div>
            </div>
        </div>
    </div>
}
